<!doctype html>
<html>
    <head>
        <title>Puget Tech - 500 Internal Server Error</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Puget Tech is a nimble software & web development agency building websites, web and mobile apps, and eCommerce sites with cloud and custom integrations.">
        <meta name="keywords" content="">
        <link rel="canonical" href="https://puget.tech/" />
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{asset "built/bootstrap.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "built/style.css"}}" />
        <!-- <link rel="stylesheet" type="text/css" href="{{asset "built/animate.css"}}" /> -->
        <link rel="stylesheet" type="text/css" href="{{asset "built/hover.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "built/owl.carousel.min.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "built/position-right.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "built/owl.theme.default.min.css"}}" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#ffffff">
        <style>
            body {
            background-color: rgba(233,243,247,1.00)!important;
            }
            /*  .maincontainer {
            width: 100%;
            background-color: rgba(255,255,255,0.7);
            text-align: center;
            display: table;
            margin: 0px;
            }
            .cell {
            vertical-align: middle;
            display: table-cell;
            }*/
            h1 {
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 20px;
            color: #434343;
            }
            @media only screen and (max-width: 560px) {
            .cell > img {
            width: 80!important;
            }
            }
        </style>
    </head>
    <body class="drawer drawer--right">
        <header role="banner" class="hidden-lg">
            <div class="mobileogo"><a href="/"><img src="/assets/images/logo.svg" alt="Puget Tech" class="img-responsive wow rotateIn" data-wow-duration="1s" data-wow-delay="0.2s"></a> </div>
            <button type="button" class="drawer-toggle drawer-hamburger"> <span class="sr-only">toggle navigation</span> <span class="drawer-hamburger-icon"></span> </button>
            <nav class="drawer-nav" role="navigation">
                <ul class="drawer-menu">
                    <li><a class="drawer-menu-item" href="/">Home </a></li>
                    <li><a class="drawer-menu-item" href="/#aboutus">About Us</a></li>
                    <li><a class="drawer-menu-item" href="/portfolio">Portfolio </a></li>
                    <li><a class="drawer-menu-item" href="/#services">Services</a></li>
                </ul>
                <p class="topmargin30"><a href="/contact" class="btn btn-blue">CONTACT US</a></p>
                <p class="topmargin30"><a href="https://clients.puget.tech" target="_blank" class="btn btn-blue2">CLIENT PORTAL</a></p>
            </nav>
        </header>
        <header id="menu" class="visible-lg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logo"> <a href="/"><img src="/assets/images/logo.svg" alt="Puget Tech" class="img-responsive" width="350px" height="auto"></a> </div>
                        <div id="desktopmenu">
                            <ul>
                                <li><a href="/#aboutus">About Us</a></li>
                                <li><a href="/portfolio">Portfolio </a></li>
                                <li><a href="/#services">Services</a></li>
                            </ul>
                        </div>
                        <ul class="contactusbtn">
                            <li> <a href="/contact" class="btn btn-blue">CONTACT US</a> </li>
                            <li> <a href="https://clients.puget.tech" target="_blank" class="btn btn-blue2">CLIENT PORTAL</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="topbottompadding30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cell text-center">
                            <img src="/assets/images/500.png" alt="" style="width: 300px; height: auto;">
                            <h1>Oops! Something went wrong, try a refresh and contact us if the issue persists.</h1>
                            <p>
                                <a href="https://puget.tech" class="btn btn-blue2 topmargin10">BACK TO HOME</a>
                                <a href="/contact" class="btn btn-blue leftmargin25 topmargin10">CONTACT US</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">
                            <div class="col-md-4 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"> <img src="/assets/images/logo2.png" alt="Logo" class="img-responsive wow bounce infinite" data-wow-duration="2s" data-wow-delay="0.6s"> </div>
                            <div class="col-md-8 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                                <div class="row">
                                    <div class="col-md-3 topmargin30">
                                        <h3>Quick Links</h3>
                                        <ul>
                                            <li><a href="/#aboutus">About Us</a></li>
                                            <li><a href="/portfolio">Portfolio</a></li>
                                            <li><a href="/#services">Services</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                            <li><a href="https://clients.puget.tech" target="_blank">Client Portal</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 topmargin30">
                                        <h3>LEGAL</h3>
                                        <ul>
                                            <li><a href="/pp">Privacy Policy</a></li>
                                            <li><a href="/tac">Terms and Condition</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 topmargin30">
                                        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                                        <p class="text15 w300 whitetext">Sales tips, technical advice, and much more.</p>
                                        <div class="subscribeform">
                                            <!-- Begin Mailchimp Signup Form -->
                                            <div id="mc_embed_signup">
                                                <form action="https://tech.us19.list-manage.com/subscribe/post?u=8a8e127e71e2c1db6d61da533&amp;id=bad5302c7a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                    <div id="mc_embed_signup_scroll">
                                                        <div class="mc-field-group">
                                                            <label for="mce-EMAIL" class="whitetext">Email Address  <span class="asterisk">*</span>
                                                            </label>
                                                            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                                                        </div>
                                                        <div class="mc-field-group">
                                                            <label for="mce-FULLNAME" class="whitetext">Full Name  <span class="asterisk">*</span>
                                                            </label>
                                                            <input type="text" value="" name="FULLNAME" class="required form-control" id="mce-FULLNAME">
                                                        </div>
                                                        <div id="mce-responses" class="clear">
                                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                                        </div>
                                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8a8e127e71e2c1db6d61da533_bad5302c7a" tabindex="-1" value=""></div>
                                                        <div class="clear topmargin10"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-blue"></div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!--End mc_embed_signup-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">
                            <div class="col-md-6 topmargin10">
                                <p class="text15 whitetext w300 topmargin10">Copyright © 2018 Puget Tech LLC. All Rights Reserved.</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="social"> <a href="https://www.facebook.com/Puget-Tech-985726864968550/" target="_blank"><img src="/assets/images/facebook.svg" alt="Social" width="35px"></a> <a href="https://twitter.com/puget_tech" target="_blank"><img src="/assets/images/twitter.svg" alt="Social" width="35px"></a> <a href="https://www.linkedin.com/company/puget-tech" target="_blank"><img src="/assets/images/in.svg" alt="Social" width="35px"></a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="{{asset "built/bootstrap.js"}}"></script>
        <script type="text/javascript" src="{{asset "built/iscroll.min.js"}}"></script>
        <script type="text/javascript" src="{{asset "built/drawer.js"}}"></script>
        <script>
            $( document ).ready( function () {
              $( '.drawer' ).drawer();
            } );
        </script>
    </body>
</html>